@model IEnumerable<CRUDUsingEF.Models.Category>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CName)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CId })
            </td>
        </tr>
}
    </tbody>
</table>
